html {
  padding: 0 !important;
}

body {
	overflow: hidden;
  border: #DFDFDF solid 1px;
}

.mce-content-body p {
  margin: 0 10px;
  /* see: acf-single_line_wysiwyg-v5.php line 145 , 2px is for borders */
  line-height: 38px;
}
